<div class="container">

      <div class="hero-image">
          <div class="title-card">
              <div class="title-text">
              <h1>George Murphy</h1>
              <h2>Junior Software Developer</h2>
              <h3>Le Wagon Graduate</h3>
            </div>
          </div>
      </div>


      <div class="about-card">
          <h1>about</h1>
          <br>
          <div class="about-info">
              <div class="info-text">
                <p> I am a Junior Software Developer, based in London.</p>
                <p>Having just graduated from Le Wagon's intensive 9 week coding bootcamp, I am now looking for a junior software development roles where I can utilise my new skills. I would like to continue to bring in my previous experience of film production where I can draw on problem solving and delivering a project from end to end, into a new career.</p>
              </div>
          </div>
      </div>

    <div class="project-grid">

      <div class="flip-card">
      <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div class="flip-card-back">
            <h1>Rent a Yurt</h1>
            <p>Designed & developed an app for renting luxury yurts on an Air Bnb like site. Built on Ruby on Rails HTML, CSS, using MVC architecture. Git for source control and Heroku for hosting. Initial design ideas were run in Figma</p>
          </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
          <div class="flip-card-front-2">
          </div>
          <div class="flip-card-back">
            <h1>Dished</h1>
            <p>Within a team, we launched an app for food enthusiasts which generated recipes based on your fridge contents. Developed code with a MVC architecture and 11-models. Built on Ruby on Rails, HTML, CSS/Sass, Javascript, Ajax, PostgresQL & Active Record.  </p>
          </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
          <div class="flip-card-front-3">
          </div>
          <div class="flip-card-back">
            <h1>Eztenda</h1>
            <p>Participated in a weekend hackathon for software and data engineers runy by Eztenda where we built a protoype site using Ruby on Rails, HTML & CSS</p>
          </div>
      </div>
    </div>
    <br>
    </div>


    <div class="contact-section">
      <h1>contact</h1>

      <ol class="contact-list">
        <p>Please do get in touch for more information</p>
        <div class="contact-item">
          <a href="https://github.com/gmurphy10"></a>
          <a href="https://www.linkedin.com/in/-george-murphy/"></a>
          <a href="mailto:georgeolivermurphy@hotmail.com"></a>
        </div>
      </ol>
      <footer>
        <p>Made by George Murphy</p>
        <p>© 2021</p>
      </footer>
    </div>

</div>


