<div class="container">
  <div class="hero-image">
      <div class="title-card">
          <div class="title-text">
          <h1>George Murphy</h1>
          <h2>Junior Software Engineer</h2>
          <h3>Le Wagon Graduate</h3>
        </div>
      </div>
  </div>

<div class="about-background">
  <div class="about-card">
    <div class="about-text">
      <h2>About</h2>
      <p>Having just graduated from Le Wagon's intensive 9 week coding bootcamp, I am now looking for a junior software development role where I can utilise my new skills. I would like to continue to bring in my previous experience of film production where I can draw on problem solving and delivering a project from end to end, into a new career.</p>
    </div>
  </div>
</div>

<div class="about-background">
  <div class="skills-card">
    <div class="skills-text">
      <h2>About</h2>
    </div>
  </div>
</div>




</div>
