<div class="container">

      <div class="hero-image">
          <div class="title-card">
              <div class="title-text">
              <h1>George Murphy</h1>
              <h2>Junior Software Developer</h2>
              <h3>Le Wagon Graduate</h3>
            </div>
          </div>
      </div>


      <div class="about-card">
          <h1>about</h1>
          <br>
          <div class="about-info">
              <div class="info-text">
                <p> I am a Junior Software Developer, based in London.</p>
                <p>Having just graduated from Le Wagon's intensive 9 week coding bootcamp, I am now looking for a junior software development role where I can utilise my new skills. I would like to continue to bring in my previous experience of film production where I can draw on problem solving and delivering a project from end to end, into a new career.</p>
              </div>
          </div>
      </div>


    <div class="project-grid">

      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        </div>
        <div class="flip-card-back">
          <h1>Project 1</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>


    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        </div>
        <div class="flip-card-back">
          <h1>Project 2</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>


    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        </div>
        <div class="flip-card-back">
          <h1>Project 3</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
  </div>

</div>


