<div class="container">

      <div class="banner">

        <div class="navbar">
            <ul>
              <a href="#about">
                <li>about</li>
              </a>
              <a href="#projects">
                <li>projects</li>
              </a>
              <a href="#skills">
                <li>skills</li>
              </a>
              <a href="#contact">
                <li>contact</li>
              </a>
            </ul>
          </div>


          <div class="title-card">

              <div class="title-text">
              <h1>George Murphy</h1>
                <div class="animated-text">
                <div class="line"><h2> Software Developer</h2></div>
                <div class="line"><h3>Le Wagon Graduate</h3></div>
                <div class="line"><h3>London Based</h3></div>
                </div>
            </div>
          </div>

        <a href="#about" class="arrow-container">
          <div class="arrow">
            <i class="fas fa-arrow-down"></i>
          </div>
        </a>
      </div>


      <div class="about-card" id="about">
          <h1>about</h1>
          <br>
          <div class="about-info">
              <div class="info-text">
                <p> I am an aspiring Software Developer, based in London.</p>
                <p>Having just graduated from Le Wagon's intensive full stack development course, I am now eager to collaborate on new projects while continuing to further my learning of modern technology.  I would like to bring in my previous experience of film production where I can draw on problem solving and delivering a project from end to end, into a new career.</p>
              </div>
              <!-- <div class="about-pic">
              </div> -->
          </div>
      </div>

    <div class="project-header" id="projects">
        <h1>projects</h1>
          <br>
      </div>
      <div class="project-grid">
        <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
            </div>
            <div class="flip-card-back">
              <h1>Rent a Yurt</h1>
              <p>Designed & developed an app for renting luxury yurts on an Air Bnb like site. Built on Ruby on Rails HTML, CSS, using MVC architecture. Git for source control and Heroku for hosting. Initial design ideas were run in Figma</p>
              <div class="project-links">
              <a href="https://github.com/Phillip-Gardner/rails_rent_a_yurt_project">
              <i class="fab fa-github"></i></a>
              <a href="https://rails-rent-a-yurt.herokuapp.com/">
              <i class="fas fa-link"></i></a>
              </div>
            </div>
        </div>
      </div>


    <div class="flip-card">
      <div class="flip-card-inner">
          <div class="flip-card-front-2">
          </div>
          <div class="flip-card-back">
            <h1>Dished</h1>
            <p>Within a team, we launched an app for food enthusiasts which generated recipes based on your fridge contents. Developed code with a MVC architecture and 11-models. Built on Ruby on Rails, HTML, CSS/Sass, Javascript, Ajax, PostgresQL & Active Record.  </p>
            <div class="project-links">
            <a href="https://github.com/elizaplowden/rails-dished">
            <i class="fab fa-github"></i></a>
            <a href="https://www.dished.site">
            <i class="fas fa-link"></i></a>
            </div>
          </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
          <div class="flip-card-front-3">
          </div>
          <div class="flip-card-back">
            <h1>Eztenda</h1>
            <p>Participated in a weekend hackathon for software and data engineers runy by Eztenda where we built a protoype site using Ruby on Rails, HTML & CSS</p>
            <div class="project-links">
            <a href="https://github.com/cicada-1/eztenda-prototype">
            <i class="fab fa-github"></i></a>
            </div>
          </div>
      </div>
    </div>
    <br>
    </div>

    <div class="skills-header" id="skills">
          <h1>skills</h1>
          <br>
    </div>
      <div class="skilss-grid">
          <div class="skill-list">
              <div class="skill-item">
                <i class="fab fa-github"></i>
                  <p>github</p>
              </div>
              <div class="skill-item">
                <i class="fab fa-html5"></i>
                  <p>HTML 5</p>
              </div>
              <div class="skill-item">
                <i class="fab fa-js"></i>
                  <p>JavaScript</p>
              </div>
              <div class="skill-item">
                <i class="fab fa-css3-alt"></i>
                  <p>CSS3</p>
              </div>
              <div class="skill-item">
                <i class="fab fa-yarn"></i>
                  <p>Yarn</p>
              </div>
              <div class="skill-item">
                <i class="fab fa-figma"></i>
                  <p>Figma</p>
              </div>
              <div class="skill-item">
                <i class="fab fa-bootstrap"></i>
                  <p>Bootstrap</p>
              </div>
            </div>
      </div>

    <div class="contact-section" id="contact">
      <h1>contact</h1>
      <ol class="contact-list">
        <p>Enquries & more information please do get in touch</p>
        <div class="contact-item">
          <a href="https://github.com/gmurphy10">
            <i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/-george-murphy/">
            <i class="fab fa-linkedin"></i></a>
          <a href="mailto:georgeolivermurphy@hotmail.com">
            <i class="fas fa-envelope-square"></i></a>
        </div>
      </ol>
      <footer>
        <p>Made by George Murphy</p>
        <p>© 2021</p>
      </footer>
    </div>
</div>



