
// card front

.flip-card-front {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(rentyurt.png);
  background-size: cover;
}

.flip-card-front-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(dished.png);
  background-size: cover;
}

.flip-card-front-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(eztenda1.png);
  background-size: cover;
}

// .flip-card-front-4 {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(eztenda1.png);
//   background-size: cover;
// }


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* The flip card container - set the width and height. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 525px;
  height: 283px;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-front-2, .flip-card-front-3, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: #adb5bd;
  color: white;
  transform: rotateY(180deg);
  font-size: 15px;
  font-family: 'IBM Plex Serif';
  padding: 10px 10px;
  cursor: pointer;
}

.flip-card-back i, a {
  color: white;
  font-size: 30px;
}

.flip-card-back i:hover {
  color: #ff9f1c;
  font-size: 32px;
}

.flip-card-back h1:hover {
  text-decoration: underline;
  text-decoration-color:  #ff9f1c;
  transition: all 0.9s ease-in-out;
  cursor: pointer;
}


