.contact-section {
  width: 100%;
  background-color: #024874;
  color: white;
  margin-top: 155px;
  position: absolute;
  font-family: 'IBM Plex Serif';
  text-align: center;
}

.contact-item a {
  color: white;
  height: 75px;
  margin: 0 5px;
  font-size: 25px;
}

.contact-item a:hover {
  color:  #ff9f1c;
}

.contact-list {
  align-items: center;
  text-align: center;
  display: contents;
}
