// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// title styling

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(heroimage.jpg);
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title-card {
  padding: 50px 72px;
}

.title-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title-text h1 {
  font-family: 'IBM Plex Serif';
  font-size: 65px;
}

.title-text h2, h3 {
  font-family: 'IBM Plex Serif';
  font-size: 35px;
}

// about styling
.about-card {
  padding: 50px 72px;
}

.about-text {
  text-align: center;
  position: absolute;
  width: 70%;
}

.about-background {
  background: gray;
}
